[profile.default]
src = "src"
out = "out"
libs = ["lib"]
solc = "0.8.24"
evm_version = "cancun"
optimizer = true
optimizer_runs = 200

remappings = [
    "@openzeppelin/=lib/openzeppelin-contracts/"
]

[rpc_endpoints]
adi_testnet = "https://rpc.ab.testnet.adifoundation.ai/"
adi_mainnet = "https://rpc.adifoundation.ai/"

# [etherscan]
# adi_testnet = { key = "", url = "https://explorer.ab.testnet.adifoundation.ai/api" }
